<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <span class="navbar-brand">My To-Do-List Planner</span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

        </button>

      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
      <div style="text-align: center; padding-top: 10px">
        <h4>404 - PAGE NOT FOUND</h4>
        <P>
          We're sorry. The page you requested cannot be found.
        </P>

        <a [routerLink]="['/login']" class="nav-link">Go back to Homepage</a>

      </div>
    </div>
  </div>
</div>