<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <span class="navbar-brand">My To-Do-List Planner</span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">

            <li class="nav-item">

              <a class="nav-link" (click)="goToSignIn()">Log-In</a>

            </li>

          </ul>

        </div>

      </nav>
    </div>
  </div>

  <div class="row p-0 m-0">

    <div class="col-sm"></div>

    <div class="col-sm p-5">

      <h2 class="form-signin-heading">Reset your password</h2>

      <label for="inputPassword" class="sr-only">New Password</label>

      <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="New Password"
        required autofocus>

      <br>

      <label for="inputConfirmPassword" class="sr-only">Password</label>

      <input type="password" id="inputConfirmPassword" class="form-control" [(ngModel)]="confirmPassword"
        placeholder="Confirm Password" required>

      <br>

      <button class="btn btn-lg btn-primary btn-block" type="button" (click)="resetPassword()">Reset Password</button>


    </div>

    <div class="col-sm"></div>

  </div>

</div>